.menu-container {
  background-color: $white-color;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $primary-title-color;

  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 61px;
    left: 0;
    width: 100%;
    padding: 60px 0;

    &.is-open {
      display: block;
      z-index: 1;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    margin-right: 84px;
  }
}

@include for-size(desktop) {
  .navigation {
    margin-right: 305px;
  }
}

.menu {
  @media screen and (max-width: 767px) {
    .item {
      display: inline-block;
    }

    &.list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @include for-size(tablet-landscape) {
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @include for-size(tablet-landscape) {
    .item:not(:last-child) {
      margin-right: 50px;
    }
  }

  .link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    color: $primary-title-color;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @include for-size(tablet-landscape) {
      padding-top: 32px;
      padding-bottom: 32px;
      font-size: 14px;
      line-height: 1.143;
    }
  }

  &:hover,
  &:focus {
    color: $accept-color;
  }

  .current {
    position: relative;
    color: $accept-color;
  }

  .current::after {
    position: absolute;
    bottom: -9px;
    display: block;
    content: " ";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: $accept-color;

    @include for-size(tablet-landscape) {
      bottom: -1px;
    }
  }
}

.btn-menu {
  display: flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  fill: $black-color;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accept-color;
  }
}

.btn-menu .icon-crosse {
  display: none;
}

.btn-menu.is-open .icon-crosse {
  display: block;
}

.btn-menu.is-open .icon-menu {
  display: none;
}

@include for-size(tablet-landscape) {
  .btn-menu {
    display: none;
  }
}
