html {
  box-sizing: border-box;
}

* {
  outline: 2px solid red;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// *:focus {
//   outline-color: $accept-color;
//   outline-offset: 2px;
//   outline-style: solid;
// }

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

a {
  display: block;
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  @include for-size(tablet-portrait) {
    width: 480px;
  }
  @include for-size(tablet-landscape) {
    width: 768px;
  }
  @include for-size(desktop) {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include for-size(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &.no-padding {
    padding-bottom: 0;
  }
}

.section-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  color: $primary-title-color;

  @include for-size(desktop) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.167;
  }
}
