.features-list {
  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features-item {
  width: 100%;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include for-size(tablet-landscape) {
    width: calc((100% - 30px) / 2);
    &:not(:nth-child(2n)) {
      margin-right: 30px;
    }
  }

  @media screen and (max-width: 1199px) {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features-icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;
  color: $primary-title-color;

  @include for-size(tablet-landscape) {
    text-align: start;
  }
}

.features p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  color: $primary-text-color;
}
